# ==================================================
# EdgeFusion Example Environment File
# ==================================================

PORT=

MQTT_BROKER_URL=

MQTT_SENSOR_TOPIC=

DATABASE_NAME=

LOG_LEVEL=

OPENFAAS_URL=
